/*Main 1*/
body{
	margin: 0;
	background-color: white;

}
#main1{
	padding: 2px 1px;
	background-color:black;
}
#main1 a{
	color: grey;
	display: flex;
	padding: 5px;
	text-decoration: arial;
	justify-content: space-around;
}
#main1 {
	display: flex;
	justify-content: center;
}
/*Main 1*/
/* img du main1*/
.img1{
	display: flex;
	justify-content: flex-end;
	padding: 1px;
		margin: 0;

}
/*    tous le contenue de la pages      */
section{
	display: flex;
	justify-content:center;
}
#nav{
	margin: 0;
}