body{
	margin: 0;
}
#main1{
	padding: 15px 1px;
	background-color:black;
}
#main1 a{
	color: grey;
	display: flex;
	padding: 5px;
	text-decoration: arial;
	justify-content: space-between;
}
#main1 {
	display: flex;
	justify-content: center;
}
.img1{
	width: 1px;
	height: 2px;

}
